@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    <div class="row">
        @if (!User.Identity.IsAuthenticated)
        {
            <a asp-action="Login" asp-controller="Auth" class="btn btn-outline-primary">Log In with GitHub</a>
        }
        else
        {
            <div id="accordion" class="container-fluid">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">Repos</h5>
                    </div>
                    <div id="collapse-repos" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <ul>
                                @foreach (var repo in Model.Repositories)
                                {
                                    <li><a href="@repo.HtmlUrl">@repo.FullName</a></li>
                                }                                
                            </ul>
                            @if (Model.Repositories.Count() == 0) 
                            {
                                <span><strong>0 Repositories</strong></span>
                            }
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">Starred Repositories</h5>
                    </div>
                    <div id="collapse-starred" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <ul>
                                @foreach (var repo in Model.StarredRepos)
                                {
                                    <li><a href="@repo.HtmlUrl">@repo.FullName</a></li>
                                }                                
                            </ul>
                            @if (Model.StarredRepos.Count() == 0) {
                                <span><strong>0 Starred Repos</strong></span>
                            }
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">Followers</h5>
                    </div>
                    <div id="collapse-followers" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            <ul>
                                @foreach (var follower in Model.Followers)
                                {
                                    <li><a href="@follower.HtmlUrl">@follower.Login</a></li>
                                }
                            </ul>
                            @if (Model.Followers.Count() == 0){
                                <span><strong>0 Followers</strong></span>
                            }
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h5 class="mb-0">Following</h5>
                    </div>
                    <div id="collapse-following" class="collapse show" aria-labelledby="headingFour" data-parent="#accordion">
                        <div class="card-body">
                            <ul>
                                @foreach (var follower in Model.Followers)
                                {
                                    <li><a href="@follower.HtmlUrl">@follower.Login</a></li>
                                }
                            </ul>
                            @if (Model.Followers.Count() == 0) {
                                <span><strong>0 Following</strong></span>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>